version: '2'
services:
      server:
        build: ./server/
        ports: 
          - 8080:8080
        container_name: server
        depends_on:
          - mongodb
        environment:
          WAIT_HOSTS: mysql:3306
          WAIT_HOSTS_TIMEOUT: 600
        volumes:
          - /etc/localtime:/etc/localtime:ro
        depends_on:
          - mysql

      mysql:
        image: mysql:latest
        container_name: "mysql"
        environment:
          MYSQL_DATABASE: 'test_db'
          MYSQL_PASSWORD: 'root'
          MYSQL_ROOT_PASSWORD: 'root'
        ports:
          - '3306:3306'
        expose:
          - '3306'    
        volumes:
          - ./db:/docker-entrypoint-initdb.d/:ro